.ll {
    display: grid;
    grid-template-columns: 200px 1fr 1fr; 
    color: white;
    gap: 20px;   
    font-size: 16px;
    text-decoration: none;
    padding: 20px;
}

.ll a {
    text-decoration: none;
    color: rgb(182, 182, 182);
}

h2 {
    color: rgb(206, 206, 206);
}


@media (max-width: 768px) {
    .ll {
    font-size: 12px;
    margin-left: 40px;
    grid-template-columns: repeat(2,1fr); 
    text-align: left;
}
}
/* ol {
   list-style-type: none;
    text-align: left;
    gap: 500px;   
} */

/* .ll li {
    color: white;
    justify-self: right;
    margin-top: 10px;
    margin-right: 20px;
} */