.main-container {
    box-sizing: border-box; /* Padding ko andar hi rakhta hai */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: auto;
}


.train-image {
    width: 100%;
    height:600px;
    /* margin-right: 10px;
    border-radius: 10px; */
    transition: transform 0.3s ease;
}

.train-btn {
    position: absolute;
    bottom: 100px;
    left: 100px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.train-title {
    position: absolute;
    top: 100px;
    left: 100px;
    text-shadow: 
    3px 3px 5px rgba(0, 0, 0, 1),    /* Sabse dark niche wali layer */
    -1px -1px 2px rgba(0, 0, 0, 1),   /* Charon taraf se border effect */
    0px 0px 10px rgba(0, 0, 0, 0.9);
               font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    color: white;
    z-index: 10;
}

.train-overview {
    position: absolute;
    text-align: left;
    top: 200px;
    left: 100px;
    width: 40%;
    color: white;
  text-shadow: 
    3px 3px 5px rgba(0, 0, 0, 1),    /* Sabse dark niche wali layer */
    -1px -1px 2px rgba(0, 0, 0, 1),   /* Charon taraf se border effect */
    0px 0px 10px rgba(0, 0, 0, 0.9);
     font-weight: bold;
    font-size: 15px;
}

.train-btn2 {
    position: absolute;
    left: 300px;
    bottom: 102px; 
    height: 50px;
    width: 150px;
    color: black;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}


@media (max-width: 768px)
{
    .train-image {
    width: 100%;
    height: 250px;
    /* margin-right: 10px;
    border-radius: 10px; */
    transition: transform 0.3s ease;
}

.train-btn2 {
    position: absolute;
    left: 160px;
    bottom: 50px; 
    height: 40px;
    width: 100px;
    color: black;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 8px;
}


.train-btn {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 40px;
    width: 100px;
    font-size: 8px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.train-title {
    position: absolute;
    top: 50px;
    left: 45px;
    text-shadow: 
    3px 3px 5px rgba(0, 0, 0, 1),    /* Sabse dark niche wali layer */
    -1px -1px 2px rgba(0, 0, 0, 1),   /* Charon taraf se border effect */
    0px 0px 10px rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 20px;
    color: white;
    z-index: 10;
}

.train-overview {
    position: absolute;
    text-align: left;
    top: 100px;
    left: 50px;
    width: 40%;
    color: white;
  text-shadow: 
    3px 3px 5px rgba(0, 0, 0, 1),    /* Sabse dark niche wali layer */
    -1px -1px 2px rgba(0, 0, 0, 1),   /* Charon taraf se border effect */
    0px 0px 10px rgba(0, 0, 0, 0.9);
     font-weight: bold;
    font-size: 6px;
}
}