.hind {
    width: 100%;
    height: 0px;
    position: fixed;
    z-index: 99999;
    background-color:rgba(0, 0, 0, 0.514);
    background: transparant;
    backdrop-filter: blur(10px);
    color:rgb(255, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
} 
.show {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 99999;
    background-color:rgba(0, 0, 0, 0.514);
    background: transparant;
    backdrop-filter: blur(10px);
    color:rgb(255, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
} 

ul {
    list-style-type: none;
    display : flex;
    gap: 50px;
    margin-top: 30px;
    align-content: right;
    margin-left: 250px;
    color:aliceblue;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari/Mobile ke liye */
    -moz-user-select: none;    /* Firefox ke liye */
    -ms-user-select: none;     /* Internet Explorer/Edge ke liye */
    user-select: none;         /* Standard property */
    -webkit-tap-highlight-color: transparent;
}

.nav-logo {
    width: 150px;
    object-fit: contain; 
    cursor: pointer;  
    margin-left: 20px;
}


.top {
    display : flex;
    padding-left:50px;
    margin-top: 0px;
    margin-bottom: -10px;
    z-index: 99999;
}

.user {
    width: 40px;
    height: 40px;
    margin-top: 19px;
    margin-left: 0px;
    gap: 20px;
    border-radius: 19px;
    position:absolute;
    right: 20px;
    cursor: pointer;
}

.fi-br-search {
    color: white; /* Icon ko safed rang dega */
    font-size: 20px; /* Size adjust karne ke liye */
    cursor: pointer; /* Mouse lejane par hath ka nishan banega */
    /* margin-left: 400px;  
    margin-right: 20px;
    margin-bottom: -50px; */
    position:absolute;
    right: 150px;
    top: 30px;
}

.fi-br-bell {
    color: white; /* Icon ko safed rang dega */
    font-size: 20px; /* Size adjust karne ke liye */
    cursor: pointer; /* Mouse lejane par hath ka nishan banega */
    /* margin-left: 400px;  
    margin-right: 20px;
    margin-bottom: -50px; */
    position:absolute;
    right: 100px;
    top: 30px;
}

.homeimg {
    width: 100%;
    height: 700px;
    cursor: pointer;
}

.probd {
    width: 100%;
    height: 100vh;
    margin-top: -70px;
    padding: 0px;
    background-color: black;
    text-align: left;
    text-decoration: none;
}

.hiddenprofile {
  display: flex;
  width: 500px;
  height: auto;
  flex-direction: column;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  justify-self: center;
}

.hiddenprofile label {
      text-align: left;
}


.hiddenprofile input {
    height: 20px;
    width: 100%;
    border-radius: 4px;
    padding: 15px;
    background-color: white;
    justify-self: center;
}
.hiddenprofile h1{
    font-size: 40px;
    margin-top: 70px;
}

.sobtn {
  height: 60px;
  width: 200px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  color: rgb(255, 0, 0);
  font-size: 12px;
  position: absolute;
  top: 450px;
  cursor: pointer;
}

.btbtn {
  height: 60px;
  width: 200px;
  margin-top: 50px;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 450px;
  right: 430px;
  cursor: pointer;
}
 .ibox {
  display: flex;
  flex-direction: column;
  border: solid;
  border-left: none;
  border-right: none;
  padding-top: 50px;
  padding-bottom: 50px;
  text-decoration: none;
 }
 .newac {
  display: flex;
  gap: 20px;
  background-color: rgb(0, 0, 0);
  width: 80%;
  height: 100px;
  margin-top: 150px;
  margin-left: 600px;
  color: rgb(255, 255, 255);
  justify-self: center;
  font-size: 20px;
  text-decoration: none;
 }


@media (max-width: 768px){
    .nav-logo {
    width: 100px;
    object-fit: contain; 
    cursor: pointer;  
    margin-left: -35px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    display : none;
    gap: 10px;
    margin-top: 25px;
    align-content: left;
    margin-left: -20px;
    color:aliceblue;
    cursor: pointer;
    font-size: 12px;
}

 

.fi-br-bell {
    color: white; /* Icon ko safed rang dega */
    font-size: 15px; /* Size adjust karne ke liye */
    cursor: pointer; /* Mouse lejane par hath ka nishan banega */
    /* margin-left: 400px;  
    margin-right: 20px;
    margin-bottom: -50px; */
    position:absolute;
    right: 50px;
    top: 25px;
}
.fi-br-search {
    color: white; /* Icon ko safed rang dega */
    font-size: 15px; /* Size adjust karne ke liye */
    cursor: pointer; /* Mouse lejane par hath ka nishan banega */
    /* margin-left: 400px;  
    margin-right: 20px;
    margin-bottom: -50px; */
    position:absolute;
    right: 75px;
    top: 25px;
}


.user {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 0px;
    gap: 0px;
    border-radius: 19px;
    position:absolute;
    right: 10px;
    cursor: pointer;
}

.hiddenprofile {
  display: flex;
  width: 300px;
  height: auto;
  flex-direction: column;
  color: white;
  border-radius: 4px;
  justify-self: center;
}
.sobtn {
  height: 50px;
  width: 150px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  color: rgb(255, 0, 0);
  font-size: 12px;
  position: absolute;
  top: 450px;
  left: 30px;
}
.btbtn {
  height: 50px;
  width: 150px;
  margin-top: 50px;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 450px;
  right: 30px;
  text-align: center;
  cursor: pointer;
}




.hiddenprofile input {
    height: 30px;
    width: 90%;
    border-radius: 12px;
    border: none;
    padding-left: 20px;
    color: white;
    background-color: rgb(78, 78, 78);
    justify-self: center;
}

 .ibox {
  border: solid;
  border-left: none;
  border-right: none;
  padding-top: 50px;
  padding-bottom: 50px;
 }

  .newac {
  display: flex;
  gap: 20px;
  background-color: rgb(0, 0, 0);
  width: 80%;
  height: 100px;
  margin-top: 100px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  justify-self: center;
  font-size: 12px;
  text-decoration: none;
 }

}


@keyframes toptodown {
  0%{
    transform: scaleY(0);
    opacity: 0.5;
  }
  100%{
    transform: scaleY(1);
    opacity: 1;
  }
}