.row-cntr {
    height: auto;
    width: 100%;
    margin-top: 0px;
     margin-bottom: 50px;
    background-color: rgb(29, 29, 29); 
    color: white;
} 

.row-title {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    z-index: 15;
}

.movie-poster {
    width: 100%;
    height: auto;
    margin-left: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 50px;
}

.movie-poster img {
    display: block;
    width: 250px;
    height: 400px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
} 

/* Netflix jaisa Hover Effect */
.movie-poster:hover {
    transform: scale(1.08); /* Mouse le jane par thoda bada hoga */
}

/* Swiper ke Arrows ko customize karna (Optional) */
.swiper-button-next, .swiper-button-prev {
    color: white !important; /* Arrows white color ke */
    font-weight: bold;
}





/* .train img {
    width: 200px;
    height: 300px;
  
} */


@media (max-width: 768px){
    .movie-poster img{
    display: flex;
    overflow: hidden;
    width: 150px;
    height: 250px;
    margin-right: -20px;
    overflow: hidden;
}

.movie-poster {
    width: 400px;
    height: 300PX;
    margin-left: 20px;
    margin-bottom: 0px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}
.row-container {
    height: auto;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: #111; 
    color: white;
} 

}