.spage {
  width: 100%;
  height: 100vh;
  background-color: #363636;
}

.boxnobox {
  width: 100%;
  height: 50px;
  border: groove;
 background-color: black;
 position: absolute;

}

.searchbox {
  width: 80%;
  height: 30px;
  color: black;
  margin-top: -30px;
  margin-left: 30px;
  position: relative;
  top: 0px;
}

.back {
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: -10px;
}