.login-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-style: groove 1px;
  border: none;
  border-radius: 12px;
  background-color: #FFF;
  /* box-shadow: 2px 4px 6px; */
  /* background-color: #fff; */
  /* background: transparent;
  backdrop-filter: blur(13px);*/
  box-shadow: 2px 4px 6px;

  height: auto;
  width: 400px;
  padding: 50px;
  margin-top: -50px;
}

label {
  font-size: 18px;
  font-weight: 300;
  margin-left: -30px;
  margin-top: -25px;
  text-align: left;
  margin-bottom: -15px;
}


input {
  border: 2px solid #000000;
  border-top: none;
  background: transparent;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  height: 45px;
  width: 100%;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: groove 2px;
  border-color: rgb(145, 255, 0);
}

#btnlogin {
  height: 50px;
  width: 100%;
  align-self: center;
  margin-top: 30px;
  margin-left: 0px;
}

.login-bg {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (max-width: 768px) {
  .login-container {
    width: 100%;
    height: auto;
    margin-top: -130px;
    border: none;
    border-radius: 12px;
    background-color: #FFF;
    /* background: transparent;
    box-shadow: 2px 4px 6px; */
    /* background-color: #ffffff; */
    backdrop-filter: blur(13px);
  }

  .login-bg {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('login2.jpg');
    background-size: 1400px;
    background-position: right;
    /* background-position: center; */
    background-repeat: no-repeat;
  }
}