.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1000; /* Sabse upar dikhne ke liye */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-screen {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Video ratio kharab na ho */
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  z-index: 1001;
  font-size: 16px;
  border-radius: 4px;
}

.back-btn:hover {
  background-color: white;
  color: black;
}