.sldr {
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow-x: scroll; 
    scroll-behavior: smooth; 
    
}

.mySwiper2 {
    width: 100%;
    height: auto;
}


.train {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 600px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgb(24, 24, 24);
}

.train img {
    /* width: 300px;
    height: 380px;
    margin-right: 20px;
    border-radius: 0px; */
    
    display: block;
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;

}

.img:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.st {
    position: absolute;
    color: white;
    /* background-color: rgb(24, 24, 24); */
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    z-index: 100;
}

.tp {
    height: auto;
    width: 100%;

} 

@media (max-width: 768px)
{
    .train img {
    display: block;
    width: 150px;
    height: 250px;
    margin-top: 50px;
    margin-right: 0px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.sldr {
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow-x: scroll; 
    scroll-behavior: smooth; 
}

}